.btn {
  display: inline-block;
  text-decoration: none;
  color: $textColor;
  background-color: $bgDarkColor;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.15rem 0;
  @include tablet {
    font-size: 2rem;
    padding: 1.8rem;
  }

  span {
    margin: 0 10px;
  }
}

.btn-primary {
  background-color: $btnColor;
  color: $bgLightColor;
}
