.btn {
  background: $btnBorderColor;
  color: $whiteColor;
  font-size: 1.25em;
  padding: 0.65em 0;
  border-radius: 6px;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 750px) {
    font-size: 2.25em;
  }

  @media (min-width: 1024px) {
    flex-direction: row-reverse;
  }

  .fas {
    margin-right: 10px;

    @media (min-width: 1024px) {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  &--grey {
    background: $bgColor;
    color: $textColor;
  }
}
