.footer {
  padding: 40px 30px;

  @include tablet() {
    padding: 40px;
  }

  @include desktop() {
    padding: 40px 0;
  }

  .flex {
    @include tablet() {
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop() {
      flex-wrap: nowrap;
    }
  }

  .box {
    border-bottom: 1px solid #ccc;

    @include tablet() {
      flex-basis: 50%;
      border-bottom: none;
    }

    @include desktop() {
      flex-basis: 25%;
      line-height: 33px;
    }
  }
  h3 {
    font-size: 1.1em;
    padding-top: 20px;
    margin-bottom: 1em;
    @include tablet() {
      font-size: 1.25rem;
    }
    @include wide() {
      font-size: 1.35rem;
    }
  }

  .links {
    padding-bottom: 3em;
    margin-bottom: 1em;

    a {
      display: block;
      color: #696969;
      font-size: 0.9rem;
      font-weight: 300;
      @include wide() {
        font-size: 1rem;
      }
    }
  }

  .contact {
    border-bottom: 1px solid #ccc;

    @include tablet() {
      flex-basis: 50%;
      border-bottom: none;
    }

    @include desktop() {
      flex-basis: 25%;
    }

    .fab {
      background-color: $textColor;
      color: $bgDarkColor;
      padding: 0.5rem;
      font-size: 1.3rem;
      border-radius: 5px;
      margin-right: 4px;
    }

    .addres {
      font-size: 0.9rem;
      margin: 1rem 0 2rem;

      @include wide() {
        font-size: 1rem;
      }
    }
  }

  .copy {
    font-size: 0.9rem;
    padding: 20px 0;

    @include tablet() {
      padding: 0;
      display: flex;
      justify-content: center;
    }

    ul {
      list-style: none;
      color: #aaa;

      @include tablet() {
        text-align: center;
      }

      @include desktop() {
        display: flex;
      }

      @include wide() {
        font-size: 1rem;
      }

      li:not(li:last-child) {
        @include desktop() {
          border-right: 1px solid #ccc;
          padding: 0 10px;
        }
      }

      li:last-child {
        @include desktop() {
          padding: 0 10px;
        }
      }
    }
  }
}
