.footer {
  padding: 40px 30px;

  .flex {
    @include tablet() {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .box {
    border-bottom: 1px solid #ccc;
    @include tablet() {
      min-width: 50%;
      border-bottom: none;
    }
  }
  h3 {
    font-size: 1.1em;
    padding-top: 20px;
    margin-bottom: 1em;
  }

  .links {
    padding-bottom: 3em;
    margin-bottom: 1em;

    a {
      display: block;
      color: #696969;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  .contact {
    border-bottom: 1px solid #ccc;
    @include tablet() {
      min-width: 50%;
      border-bottom: none;
    }

    .fab {
      background-color: $textColor;
      color: $bgDarkColor;
      padding: 0.5rem;
      font-size: 1.3rem;
      border-radius: 5px;
      margin-right: 4px;
    }

    .addres {
      font-size: 0.9rem;
      margin: 1rem 0 2rem;
    }
  }

  .copy {
    font-size: 0.9rem;
    padding: 20px 0;
    @include tablet() {
      padding: 0;
      display: flex;
      justify-content: center;
    }
    ul {
      list-style: none;
      @include tablet() {
        text-align: center;
      }
    }
  }
}
