@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

// Main colors:
$bgLightColor: #ffffff;
$bgDarkColor: #e4e4e4;
$textColor: #444444;
$logoColor: #ff4486;
$btnColor: #1691c3;

// Media breakpoints:
$tablet-width: 736px;
$desktop-width: 980px;
$wide-width: 1280px;

//grid:
$col-number: 12;
$col-width: math.div(100%, $col-number);
