.cover {
  background-color: white;
}
.info {
  width: 100%;
  padding: 30px;
  @include tablet() {
    padding: 60px 40px;
    margin-top: 3rem;
  }
  @include desktop() {
    display: flex;
    padding: 80px 0 60px;
  }

  .text-wrapper {
    padding-bottom: 2em;
    border-bottom: solid 1px #e8e8e8;
    @include desktop() {
      order: 2;
      flex-basis: 70%;
      padding: 0 0 0 50px;
      border-bottom: none;
    }
    h2 {
      font-size: 1.1rem;
      margin-bottom: 1em;
      @include tablet() {
        font-size: 2rem;
      }
      @include wide() {
        font-size: 2.25rem;
      }
    }
    p {
      font-size: 0.9rem;
      margin-bottom: 2em;
      @include desktop() {
        font-size: 1rem;
        line-height: 2rem;
      }
      @include desktop() {
        font-size: 1rem;
        line-height: 2.25rem;
      }
    }

    a {
      color: $btnColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .img-wrapper {
    h3 {
      font-size: 1rem;
      margin: 2.5em 0 1em;
      @include desktop() {
        margin: 0 0 0.5em;
        font-size: 1.2rem;
      }
      @include wide() {
        font-size: 1.35rem;
      }
    }
    .gallery-left {
      padding-right: 5px;
      @include wide() {
        padding-right: 10px;
      }
    }
    .gallery-right {
      padding-left: 5px;
      @include wide() {
        padding-right: 10px;
      }
    }
    .gallery-left,
    .gallery-right {
      padding-top: 10px;
      width: 50%;
      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }
    }
    .btn {
      margin-top: 2em;
    }
  }
}
