html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  color: $textColor;
  background: $bgDarkColor;
}

.shadow {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}

.container,
.grid-container {
  @include desktop() {
    max-width: 960px;
  }
  @include wide() {
    max-width: 1200px;
  }
  margin: 0 auto;
}

//grid
.grid-container {
  width: 100%;
  .row {
    display: flex;
    flex-wrap: wrap;

    @for $i from 1 through $col-number {
      .col-#{$i} {
        width: 100%;
        @include desktop() {
          width: $col-width * $i;
        }
      }
    }
  }
}

[class*="col-"] {
  min-height: 100px;
}
