html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $textColor;
  background: $bgDarkColor;
}

.container,
.grid-container {
  @include desktop() {
    max-width: 980px;
  }
  @include wide() {
    max-width: 1200px;
  }
  margin: 0 auto;
}

//grid
.grid-container {
  width: 100%;
  .row {
    display: flex;
    flex-wrap: wrap;

    @for $i from 1 through $col-number {
      .col-#{$i} {
        width: $col-width * $i;
      }
    }
  }
}

[class*="col-"] {
  min-height: 100px;
  border: 1px solid blue;
}
