html {
  box-sizing: border-box;
  @include wide() {
    font-size: 18px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $textColor;
  background: $bgDarkColor;
}

.container {
  @include desktop() {
    max-width: 980px;
  }
  @include wide() {
    max-width: 1200px;
  }
  margin: 0 auto;
}
